body {
    width: 100;
    font-family: 'Montserrat', sans-serif;
}

/*Completed items*/
.done {
  text-decoration: line-through;
}

/*With JS, added to div.category, when a grocery category is empty*/
.hide {
  display: none;
}

/*Grocery category title*/
div.category p {
  font-weight: bold;
}

/*List style*/
ul {
  list-style: none;
  padding: 0px;
}

/*Bullet point styles*/
ul li {
  text-transform: capitalize;
}


ul button {
    background-color: red;
    color: white;
    font-size: 0.5rem;
    margin-left: 8px;
}
